body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

body .movies_list {
  width: 80%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body .movies_list .movie {
  width: 20%;
}

